/* ---------------------------------- Start admin ----------------------------------*/
/* ---------------------------------- Start car list ----------------------------------*/
.table-car tbody tr td img{
    width: 85px;
    height: auto;
    object-fit: fill;
}

/* ---------------------------------- End add list ----------------------------------*/


/* ---------------------------------- Start add car ----------------------------------*/
#imagePreview img{
    max-width: 500px;
    max-height: 500px;
    width: 300px;
    height: auto;
    margin: 10px;
}
/* ---------------------------------- End add car ----------------------------------*/


/* ---------------------------------- Start upload image ----------------------------------*/
.avatar-upload img{
    width: auto;
    max-width: 250px;
    height: 150px;
    margin-top: 20px;
    object-fit: fill;
    border-radius: 5px;
}
/* ---------------------------------- End upload image ----------------------------------*/



/* ---------------------------------- End admin ----------------------------------*/