*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
    font-family: Gilroy, sans-serif;
}

:root{
    --color-primary: #1743e3;
    --color-white: #eaeaea;
    --color-black: #222;
    --color-mt-score: #0073d8;
}

.btn{
    display: inline-block;
    width: fit-content;
    padding: 12px 28px;
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 4px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .12);
    color: var(--color-white);
    letter-spacing: .4px;
    font-weight: 600;
    transition: .4s ease;
}

.btn:hover{
    background: transparent;
    color: var(--color-primary);
}

.container{
    max-width: 1620px;
    width: 90%;
    margin: 0 auto;
}

/* ---------------------------------- Start navbar ---------------------------------- */
nav{
    width: 100%;
    height: 5rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    display: grid;
    place-items: center;
}

nav.shadow{
    background-color: white;
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    transition: 0.5s;

    /* .social-link li a i{
        transform: rotate(-45deg);
        font-size: 22px;
        color: var(--color-primary);
    }
    
    .social-link li a:hover{
        border-color: var(--color-primary);
    } */
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.logo h3{
    font-size: 30px;
    color: var(--color-black);
}

.nav-link li a{
    color: var(--color-black);
    font-size: 18px;
    transition: .4s ease;
}

.nav-link li a:hover, 
.nav-link .active{
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
    transition: all 0.03s;
}

.search {
    display: flex;
    align-items: center;
}

.search input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.social-link li a{
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 3px solid transparent;
    transform: rotate(45deg);
    transition: .4s ease;
}

.social-link li a i{
    transform: rotate(-45deg);
    font-size: 22px;
    color: var(--color-black);
}

.social-link li a:hover{
    border-color: var(--color-black);
}

.nav-container ul li{
    position: relative;
}

.nav-container ul li:hover .nav-dropdown{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background: white;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .12);
    margin-top: 2px;
}

.nav-dropdown ul{
    display: block;
    margin: 5px;
    margin-left: 0;
}

.nav-dropdown ul li{
    width: 130px;
    padding: 8px;
    padding-left: 5px;
}

.nav-dropdown{
    display: none;
}

.nav-dropdown ul li a{
    font-size: medium;
}

.login-register{
    display: flex;
}

.login-btn, .register-btn {
    background-color: white;
    color: var(--color-black);
    border: 1px solid var(--color-black);
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    font-size: 15px;
    height: 36px;
}

.login-btn:hover, .register-btn:hover {
    background-color: var(--color-black);
    color: white;
    transition: all 0.5s ease;
}

.login-popup-overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.login-popup{
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .12);
    padding: 20px;
    width: 30%;
    height: 75%;
    overflow-y: auto;
    border-radius: 5px;
}

.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25%;
}

.center h1{
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.center form{
    padding: 0 40px;
    box-sizing: border-box;
}

.center form .text-field{
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.text-field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.text-field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.text-field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--color-primary);
    transition: .5s;
}

.text-field input:focus ~ label,
.text-field input:valid ~ label{
    top: -5px;
    color: var(--color-primary);
}

.text-field input:focus ~ span::before,
.text-field input:valid ~ span::before{
    width: 100%;
}

.pass{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover{
    text-decoration: underline;
}

.center form input[type="submit"]{
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: var(--color-primary);
    border-radius: 5px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor: pointer;
    outline: none;
}

.center form input[type="submit"]:hover{
    border-color: var(--color-primary);
    transition: .5s;
}

.signup-link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.signup-link a{
    color: var(--color-primary);
    text-decoration: none;
}

.signup-link a:hover{
    text-decoration: underline;
}

/* ---------------------------------- End navbar ----------------------------------*/


/* ---------------------------------- Start header section ----------------------------------*/
header{
    padding-top: 80px;
    /* margin-top: 80px; */
    width: 100;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.header-left{
    max-width: 620px;
    position: relative;
}

.header-left h1{
    font-size: 54px;
    line-height: 1.2;
}

.header-left h3{
    font-size: 40px;
    font-weight: 400;
    color: var(--color-primary);
    margin-top: .5rem;
}

.header-left p{
    margin: 15px 0 30px;
    line-height: 150%;
    font-size: 16px;
}

.header-container{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.header-right{
    position: relative;
    width: 450px;
    height: 450px;
    transform: rotate(45deg);
    right: 7%;
}

.sq-box{
    border: 25px solid var(--color-primary);
    height: 100%;
    width: 100%;
    background: var(--color-white);
    /* box-shadow: -15px 15px 15px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .12);
}

.sq-box img{
    position: absolute;
    transform: rotate(-45deg);
    max-width: 750px;
    top: 80px;
    left: -150px;
}

.sq-box2{
    position: absolute;
    width: 700px;
    height: 700px;
    background: var(--color-primary);
    transform: rotate(45deg);
    top: -26%;
    right: -26%;
    z-index: -1;
}
/* ---------------------------------- End header section ----------------------------------*/


/* ---------------------------------- Start footer section ----------------------------------*/
.footer{
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: black;
    color: var(--color-white);
    border-top: 2px solid var(--color-primary);
}

.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.footer-container .logo{
    color: var(--color-white);
    margin-bottom: 1rem;
    font-size: 23px;
}

.footer-container .footer-box{
    display: flex;
    flex-direction: column;
}

.social-footer{
    display: flex;
    align-items: center;
}

.social-footer a{
    font-size: 18px;
    color: var(--color-white);
    margin-right: 1rem;
}

.social-footer a:hover{
    color: var(--color-primary);
}

.footer-box h3{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.footer-box a,
.footer-box p{
    color: #818181;
    margin-bottom: 10px;
}

.footer-box a:hover{
    color: var(--color-primary);
}

.copyright{
    padding-bottom: 20px;
    text-align: center;
    background: black;
    color: var(--color-white);
}
/* ---------------------------------- End footer section ----------------------------------*/


/* ---------------------------------- Start banner ----------------------------------*/
.banner {
    margin-top: 80px;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner-content {
    position: relative;
    z-index: 1;
    max-width: 800px;
}

.banner-content h1 {
    font-size: 3.2rem;
    margin-bottom: 40px;
}

.banner-content p {
    font-size: 1.8rem;
    font-weight: bold;
}
/* ---------------------------------- End banner ----------------------------------*/


/* ---------------------------------- Start news page ----------------------------------*/
/* ---------------------------------- Start posts ----------------------------------*/
.posts-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.posts-box{
    width: 410px;
    background-color: #fff;
    border: 1px solid #ececec;
    margin: 20px;
    overflow: hidden;
}

.posts-img{
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.posts-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 1s ease;
}

.posts-img img:hover{
    transform: scale(1.1);
}

.posts-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
    height: 250px;
}

.posts-text span{
    color: #9b9b9b;
    font-size: 0.9rem;
}

.posts-text .posts-title{
    margin-top: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #272727;
}

.posts-text p{
    color: #7c6e6e;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0;
}

.posts-text a{
    color: #9b9b9b;
    font-size: 0.9rem;
}
/* ---------------------------------- End posts ----------------------------------*/
/* ---------------------------------- End news page ----------------------------------*/


/* ---------------------------------- Start brands page ----------------------------------*/
/* ---------------------------------- Start brand list ----------------------------------*/
.car-brands-container{
    margin: 0 100px;
    margin-bottom: 100px;
}

.label-car-brands{
    padding: 20px;
    margin-top: 50px;
}

.label-car-brands h1{
    font-size: 40px;
    color: #333;
}

.label-car-brands hr{
    height: 2px;
    background: #ccc;
    margin: 10px 0;
}

.car-brands {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.car-brand {
    width: 350px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .12);
}

.car-brand-img{
    width: 100%;
    height: 35%;
    display: flex;
    justify-content: center;
}

.car-brand-name{
    width: 100%;
    height: 5%;
    display: flex;
    justify-content: center;
}

.car-brand-text{
    width: 100%;
    height: 10%;
}

.car-brand-description{
    width: 100%;
    height: 40%;
}

.car-brand a {
    height: 200px;
}

.car-brand img {
    width: 200px;
    height: 100%;
    object-fit: contain;
    transition: transform .5s ease;
}

.car-brand img:hover{
    transform: scale(1.05);
}

.car-brand h2{
    color: var(--color-black);
    margin: 5px 0;
}

.car-brand span{
    font-size: 18px;
    font-weight: bold;
}

.car-brand p{
    font-size: 16px;
    line-height: 25px;
    margin-top: 10px;
}

/* ---------------------------------- End brand list ----------------------------------*/


/* ---------------------------------- Start featured car ----------------------------------*/
.car-list-container{
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.label-car-list{
    padding: 20px;
    margin-top: 50px;
}

.label-car-list h1{
    font-size: 40px;
    color: #333;
}

.label-car-list hr{
    height: 2px;
    background: #ccc;
    margin: 10px 0;
}

.car-list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2px;
}

.car-box{
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .12);
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-bottom: 10px;
    width: 390px;
    margin-bottom: 20px;
    flex-direction: row;
}

.car-box img{
    border-radius: 5px;
    margin-top: 10px;
    width: 220px;
    height: 70%;
    object-fit: cover;
    object-position: center;
    transition: transform 1s ease;
}

.car-box h3{
    text-align: start;
    font-size: 19px;
    color: var(--color-black);
}

.car-text{
    line-height: 25px;
    font-size: 15px;
    padding: 10px;
    padding-left: 20px;
}

.car-box img:hover{
    transform: scale(1.08);
}

.compare-link a{
    color: #000;
}

.compare-link i{
    font-size: 13px;
}

.compare-link a:hover{
    color: var(--color-mt-score);
    text-decoration: underline;
}

/* ---------------------------------- End featured car ----------------------------------*/
/* ---------------------------------- End brands page ----------------------------------*/


/* ---------------------------------- Start car detail page ----------------------------------*/
/* ---------------------------------- Start car detail ----------------------------------*/
.car-detail-container{
    display: flex;
    max-width: 80%;
    height: auto;
    background: white;
    /* box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .12);
    margin: 130px auto;
    border-radius: 5px;
    margin-bottom: 30px;
}

.left{
    width: 55%;
}

.right{
    width: 45%;
    display: grid;
    padding: 20px 15px;
}

.main-img img{
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
}

.option{
    display: flex;
    justify-content: center;
}

.option img{
    width: 20%;
    height: auto;
    border-left: 1px solid white;
    cursor: pointer;
}

.car-name{
    margin: 0;
    padding: 0;
    display: flex;
}

.car-name .producing-year{
    margin-left: 10px;
}

.car-name h3{
    color: black;
    font-size: 30px;
    font-weight: bold;
}

.right p small{
    color: #837d7c;
}

.car-price{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 20px 0;
}

.car-price table tbody th, .car-price table tbody td{
    padding: 5px;
}

.car-price h4{
    color: var(--color-black);
    font-size: 18px;
}

.car-price p{
    font-size: medium;
    font-weight: 200;
    margin-left: 10px;
}

.btn-order-container button{
    padding: 10px 20px;
    margin-top: auto;
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    background-color: var(--color-primary);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.5s ease;
    width: 100%;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .12);
    margin-top: auto;
}

.btn-order-container button:hover{
    transition: .3s;
    background-color: white;
    color: var(--color-primary);
}

.btn-specs{
    display: inline-block;
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: var(--color-primary);
    font-size: 16px;
    cursor: pointer;
    margin-top: 4px;
    border-bottom-left-radius: 5px;
}

.btn-specs:hover{
    background-color: var(--color-primary);
    color: white;
    transition: .5s;
}

.btn-mt-score .span-10{
    color: #9b9b9b;
    font-size: 15px;
}

.btn-mt-score{
    margin: 15px 0;
    border: 1px solid var(--color-black);
    border-radius: 5px;
    width: 140px;
    padding: 8px 5px;
    font-size: 15px;
    font-weight: bold;
    background: white;
    cursor: pointer;
}

.btn-mt-score span{
    color: var(--color-mt-score);
    font-size: large;
}

.btn-mt-score:hover{
    color: white;
    background: var(--color-mt-score);
    border-color: var(--color-mt-score);
    transition: all 0.3s ease;
}

.btn-mt-score:hover span{
    color: white;
    transition: all 0.3s ease;
}

.btn-category {
    border: 1px solid var(--color-mt-score);
    border-radius: 5px;
    width: 100px;
    padding: 10px 5px;
    font-size: 15px;
    font-weight: bold;
    background: var(--color-mt-score);
    margin-left: 10px;
    cursor: pointer;
    position: relative;
}

.btn-category:hover {
    background: white;
    border-color: var(--color-black);
    transition: all 0.3s ease;
}

.btn-category:hover a{
    color: black;   
}

.btn-category a{
    color: white;
}

.btn-compare{
    margin: 15px 0;
    border: 1px solid var(--color-black);
    border-radius: 5px;
    /* object-fit: cover; */
    width: 80px;
    padding: 5px;
    font-size: 14px;
    background: white;
    font-weight: bold;
    cursor: pointer;
}

.btn-compare a{
    color: black;
}

.btn-compare:hover{
    background: var(--color-mt-score);
    border-color: var(--color-mt-score);
}

.btn-compare:hover a{
    color: white;
}

.horsepower-torque{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    height: auto;
}

.horsepower{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horsepower img{
    width: 40px;
    height: auto;
    margin-bottom: 10px;
}

.horsepower span{
    font-weight: bold;
}

.horsepower p{
    font-size: 15px;
}

.torque{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.torque img{
    width: 40px;
    height: auto;
    margin-bottom: 10px;
}

.torque span{
    font-weight: bold;
}

.torque p{
    font-size: 15px;
}

.car-price{
    display: flex;
    align-items: center;
}

.car-price table{
    width: 100%;
    border-collapse: collapse;
}

.car-price table th{
    text-align: left;
    padding: 0 10px;
}

.car-price table td{
    padding: 10px;
}
/* ---------------------------------- End detail car ----------------------------------*/


/* ---------------------------------- Start car review ----------------------------------*/
.car-review-container{
    max-width: 80%;
    height: auto;
    background: white;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .12);
    /* box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2); */
    margin: 20px auto;
    margin-bottom: 30px;
    border-radius: 5px;
}

.car-review-box{
    display: flex;
    flex-direction: column;
    padding: 10px 10px 15px 10px;
}

.label-mt-score{
    margin-bottom: 15px;
    display: flex;
    margin-left: 35px;
}

.span-score{
    color: var(--color-mt-score);
    font-size: 30px;
}

.span-10{
    color: #9b9b9b;
    font-size: 20px;
}

/* .car-description{
    padding: 0 30px;
}

.car-description p{
    margin-top: 30px;
    line-height: 25px;
} */

.specifications-point-box{
    display: flex;
    justify-content: space-around;
}

.specifications-point{
    border: 0px solid;
    border-radius: 5px;
    width: 220px;
    padding: 20px;
    /* box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.2); */
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .12);
}

.specifications-point span{
    color: var(--color-mt-score);
    font-size: 25px;
    font-weight: lighter;
    margin-right: 4px;
}

.specifications-point h4{
    color: #9b9b9b;
}

.specifications-point p{
    font-size: 20px;
    margin-top: 7px;
}

.score-bar{
    margin-top: 5px;
    background-color: var(--color-mt-score);
    height: 3px;
    border-radius: 10px;
}

.horizontal-barore-bar-c1sc{
    background-color: var(--color-mt-score);
    height: 3px;
    border-radius: 10px;
}

.score-bar-c2{
    background-color: #d8d8d8;
    height: 3px;
    border-radius: 10px;
}

/* ---------------------------------- End car review ----------------------------------*/


/* ---------------------------------- Start related cars ----------------------------------*/
.related-cars-container{
    max-width: 80%;
    height: auto;
    background: white;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .12);
    margin: 20px auto;
    margin-bottom: 70px;
    border-radius: 5px;
}

.related-cars{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px;
}

.related-cars-container h1{
    padding: 20px 40px;
    font-size: 40px;
}

.related-cars-box{
    /* box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .12); */
    padding: 12px;
    display: flex;
    flex-direction: column;
    width: 24%;
    margin: 12px 0;
    border-radius: 5px;
    border: 0.5px solid #eaeaea;
}

.related-cars-box img{
    width: 100%;
    height: 140px;
    object-fit: cover;
    transition: transform 1s;
    padding: 10px;
}

.related-cars-box img:hover{
    transform: scale(1.1);
}

.related-cars-text{
    padding: 5px 0;
}

.related-cars-text h2{
    color: var(--color-primary);
    font-size: 22px;
} 

.related-cars-text p{
    color: #272727;
    font-size: 15px;
    padding-top: 5px;
}

.related-cars-box .span1{
    color: var(--color-mt-score);
    font-size: 20px;
    font-weight: bold;
}

.related-cars-box .span2{
    color: #9b9b9b;
    font-size: 17px;
    font-weight: bold;
}

/* ---------------------------------- End related cars ----------------------------------*/


/* ---------------------------------- Start specs pop up ----------------------------------*/
.specs-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.specs-popup {
    background-color: #fff;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .12);
    padding: 20px 60px;
    width: 75%;
    height: 600px;
    overflow-y: auto;
}

.specs-popup hr{
    height: 1.5px;
    border: none;
    background: #ccc;
    margin: 5px 0;  
}

.btn-close-popup{
    display: flex;
    justify-content: end;
    align-items: end;
}

.btn-close-popup button{
    color: black;
    cursor: pointer;
    border: none;
    font-size: 20px;
    background: white;
}

.specs-box{
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}

.specs-box > div{
    flex: 1 0 calc(50% - 10px);
}

.specs-box h3{
    padding: 10px;
    font-size: 20px;
}

.specs-box table{
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 100%;
}

.specs-box table td{
    padding: 8px;
}

.tr-background{
    background: #f2f2f2;
    padding: 10px;
}

.specs-box table td{
    padding-left: 10px;
    font-size: 15px;
}

.specs-box table .td-name{
    font-weight: bold;
}
/* ---------------------------------- End specs pop up ----------------------------------*/
/* ---------------------------------- End car detail page ----------------------------------*/


/* ---------------------------------- Start posts page ----------------------------------*/
/* ---------------------------------- Start banner posts ----------------------------------*/
.banner-posts{
    margin-top: 80px;
    position: relative;
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-posts::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner-posts-content{
    position: absolute;
    z-index: 1;
    max-width: 800px;
    bottom: 0;
    left: 0;
    padding-left: 50px;
    margin-bottom: 50px;
    color: #fff;
}

.banner-posts-content h1{
    font-size: 3.2rem;
    padding-top: 10px;
}

.banner-posts-content p {
    font-size: 1.2rem;
}

.banner-posts-content span {
    font-size: 1.2rem;
    color: #ccc;
    padding-left: 5px;
}
/* ---------------------------------- End banner posts ----------------------------------*/


/* ---------------------------------- Statrt posts content----------------------------------*/
.posts-content-container{
    display: flex;
    width: 80%;
    margin: 30px auto;
}

.posts-content{
    width: 70%;
    padding: 0 20px;
    line-height: 25px;
}

.posts-content p{
    margin: 15px 0;
}

.posts-content img{
    width: 100%;
    height: auto;
}

.share-buttons{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.fb-share-btn{
    background-color: #3b5998;
    width: 30%;
    height: 50px;
    cursor: pointer;
    border: none;
    transition: transform 1s;
}

.fb-share-btn:hover{
    transform: scale(1.05);
}

.fb-share-btn i{
    color: white;
    font-size: large;
}

.ins-share-btn{
    background-color: #E4405F;
    width: 30%;
    height: 50px;
    cursor: pointer;
    border: none;
    transition: transform 1s;
}

.ins-share-btn:hover{
    transform: scale(1.05);
}

.ins-share-btn i{
    color: white;
    font-size: large;
}

.twitter-share-btn{
    background-color: var(--color-black);
    width: 30%;
    height: 50px;
    cursor: pointer;
    border: none;
    transition: transform 1s;
}

.twitter-share-btn:hover{
    transform: scale(1.05);
}

.twitter-share-btn i{
    color: white;
    font-size: large;
}

.latest-posts{
    width: 30%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #818181;
}

.latest-posts-box{
    margin-bottom: 50px;
    padding-left: 15px;
    overflow: hidden;
}

.latest-posts-box p{
    font-size: 14px;
    color: #9b9b9b;
    font-weight: 600;
}

.latest-posts-box h3{
    padding: 5px 0;
    color: var(--color-black);
}

.img-latest-post{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.img-latest-posts img{
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    object-fit: cover;
    object-position: center;
    transition: transform 1s ease;
}

.img-latest-posts img:hover{
    transform: scale(1.03);
}


/* ---------------------------------- End posts content ----------------------------------*/
/* ---------------------------------- End posts page ----------------------------------*/



/* ---------------------------------- Start search results ----------------------------------*/
.search-results-container{
    margin: 0 100px;
    margin-bottom: 100px;
}

.label-search-results{
    padding: 20px;
    margin-top: 150px;
}

.label-search-results h1{
    font-size: 40px;
    color: #333;
}

.search-filter{
    margin: 15px 0;
    display: flex;
    justify-content: start;
    gap: 20px;
    font-size: 20px;
}

.search-filter a{
    color: #666666;
    font-weight: 600;
}

.search-filter li a:hover, 
.search-filter .active{
    color: #333;
    border-bottom: 3px solid var(--color-primary);
    transition: all 0.03s;
}

.search-results-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    height: auto;
    margin-top: 40px;
    padding: 0 20px;
}

.search-results-content-box{
    margin-bottom: 20px;
    width: 380px;
    height: auto;
    text-align: center;
}

.search-results-img {
    width: 100%;
    height: 250px;
    overflow: hidden;
    position: relative;
}

.search-results-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 1s ease;
}

.search-results-img:hover img{
    transform: scale(1.1);
}

.search-results-author{
    margin-top: 30px;
}

.search-results-author span{
    font-size: medium;
    color: #9b9b9b;
}

.search-results-title {
    padding: 10px 0;    
    height: auto;
    padding-bottom: 15px;
}

.search-results-title h2{
    color: var(--color-black);
}

.search-results-description{
    height: auto;
    padding: 10px;
    padding-top: 0;
}

.search-results-description p{
    font-size: 15px;
    color: #666666;
    word-spacing: 1px;
}

.search-results-readmore span{
    font-size: small;
    color: #9b9b9b;
}
/* ---------------------------------- End search results ----------------------------------*/


/* ---------------------------------- Start compare page ----------------------------------*/
._3QBNF {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    grid-template-columns: repeat(9, 1fr);
    grid-template-rows: 1fr;
    min-width: 20rem;
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 100px;
    grid-template-areas:
        "header header header header header header header header header"
        "main main main main main main main main aside"
        "full full full full full full full full full"
        "footer footer footer footer footer footer footer footer footer";
    box-sizing: border-box;
    grid-row-gap: 0;
    padding: .5rem;
}

/* div {
    display: block;
    unicode-bidi: isolate;
} */

.ar1Tt {
    grid-area: header;
}

@media (min-width: 768px) {
    ._2Npmi {
        margin-bottom: 1rem;
    }
}
@media (min-width: 768px) {
    ._16irY {
        margin-top: 1rem;
        padding: 1rem;
    }
}
._2Npmi {
    margin-bottom: .5rem;
}
._16irY {
    position: relative;
    width: 100%;
    border-radius: .25rem;
    background-color: #fff;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .12);
    width: auto;
    margin-top: .5rem;
    padding: .5rem;
}

body {
    box-sizing: border-box;
    /* background-color: #e9ebee; */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior-x: none;
}

@media (min-width: 768px) {
    ._2gTju {
        margin-bottom: 1rem;
    }
}

._2gTju {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: .5rem;
}

@media (min-width: 768px) {
    ._2gTju {
        margin-bottom: 1rem;
    }
}

._2gTju {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    font-size: large;
}

@media (min-width: 768px) {
    ._3JVXT {
        gap: 1rem;
    }
}

._3JVXT {
    display: flex;
    gap: .5rem;
    margin: 0 .5rem;
}

._3N7xD, ._3vbjm, .tsjZ6 {
    position: relative;
    width: 100%;
    border-radius: .25rem;
    background-color: #fff;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .12);
    padding: 1rem;
}

._3N7xD, ._3sqPa, ._3vbjm, ._3zl7L, .tsjZ6 {
    box-sizing: border-box;
    flex: 0 1 32.4%;
    animation: _2qvfb .3s;
}

.nezKb {
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #fff;
    background: linear-gradient(180deg, #fff 40%, #f0f0f0 0, #fff 80%);
}

.eJj18 {
    display: none;
}

/* ._3Bwl1 {
    width: 1.375rem;
    height: 1.375rem;
    transition: .3s;
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg fill='none' height='24' width='24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z' fill='%23000'/%3E%3C/svg%3E);
    background-repeat: no-repeat;
    background-size: contain;
    filter: invert(94%) sepia(92%) saturate(0) hue-rotate(197deg) brightness(67%) contrast(95%);
} */

._1nUqL {
    min-height: 7.5rem;
}

._1YVTl {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
}

@media (min-width: 768px) {
    ._1YVTl {
        font-size: 1.75rem;
        line-height: 2.125rem;
    }
}

._1YVTl {
    font-size: 1.7rem;
    line-height: 1.875rem;
    color: #0073d8;
}

a {
    text-decoration: inherit;
}

._3-Ngj {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
}
@media (min-width: 768px) {
    ._3-Ngj {
        font-size: 1.125rem;
    }
}
._3-Ngj {
    font-size: 1rem;
    line-height: 1.5rem;
}

._1BAwM {
    display: flex;
    align-items: center;
    min-height: 13.75rem;
}

._3sDNq {
    width: 100%;
    height: auto;
}

._3q3BO {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
}

@media (min-width: 768px) {
    ._3q3BO {
        font-size: 1.125rem;
    }
}

._3q3BO {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 1.3rem 0;
    text-align: center;
    font-weight: 550;
}

._6rtCZ h3{
    color: #5A5959;
}

._3M7NT {
    margin-bottom: 1rem;
}

._3M7NT ._6rtCZ ._1oPDF{
    font-family: Gilroy, sans-serif;
    font-weight: bold;
    color: #5a5959;
}

@media (min-width: 768px) {
    ._3M7NT ._6rtCZ {
        font-size: 1rem;
    }
}

._3M7NT ._6rtCZ {
    font-size: .875rem;
    line-height: 1.125rem;
}

._3M7NT ._1oPDF {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
}

@media (min-width: 768px) {
    ._3M7NT ._1oPDF {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

._3M7NT ._1oPDF {
    font-size: 1.55rem;
    line-height: 2rem;
}

._2MbFO {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: .5rem;
}

._2MbFO ._367cD {
    width: 8.75rem;
}

._1aCSg, .RxvJH {
    width: 100%;
}

._1aCSg {
    display: flex;
    position: relative;
    flex: 0 1 auto;
    align-content: flex-start;
    align-items: center;
}

._1aCSg, .RxvJH {
    width: 100%;
}

._1aCSg select {
    font-family: Roboto, sans-serif;
}
._1aCSg select {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.125rem;
    display: flex;
    box-sizing: border-box;
    align-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: .5rem 1.5rem .4375rem .5rem;
    border: .0625rem solid #d8d8d8;
    border-radius: .25rem;
    background: #fff;
    color: #000;
    line-height: 1rem;
    cursor: pointer;
    /* -webkit-appearance: none;
    -moz-appearance: none; */
}

._3qbtt {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

._3qbtt ._1_83q {
    margin: 1rem 1rem 0;
}

._3qbtt ._6rtCZ {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
}

._3qbtt ._6rtCZ {
    color: #5a5959;
}

@media (min-width: 768px) {
    ._3qbtt ._6rtCZ {
        font-size: .875rem;
        line-height: 1.25rem;
    }
}

._1_83q ._1oPDF{
    font-size: 1.5rem;
    font-weight: 600;
}

@media screen and (min-width: 1200px) {
    .DkjGx:hover {
        font-family: Gilroy, sans-serif;
        font-weight: 600;
    }
}
.DkjGx:hover {
    background-color: #0058a6;
    cursor: pointer;
}
@media screen and (min-width: 1200px) and (min-width: 768px) {
    .DkjGx:hover {
        font-size: 1.125rem;
    }
}
@media screen and (min-width: 1200px) {
    .DkjGx:hover {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}
@media screen and (min-width: 1200px) {
    .DkjGx {
        font-family: Gilroy, sans-serif;
        font-weight: 600;
    }
}
.DkjGx:hover {
    font-size: 1.25rem;
}
.DkjGx {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
}
@media screen and (min-width: 1200px) and (min-width: 768px) {
    .DkjGx {
        font-size: 1rem;
    }
}
@media screen and (min-width: 1200px) {
    .DkjGx {
        font-size: .875rem;
        line-height: 1.125rem;
    }
}
@media (min-width: 768px) {
    .DkjGx {
        font-size: 1.125rem;
    }
}
.DkjGx {
    font-size: 1rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 8.75rem;
    min-height: 1.5rem;
    max-height: 2.875rem;
    padding: .75rem 1.25rem;
    transition: font-size .3s ease, background-color .6s ease;
    border-radius: .25rem;
    text-transform: uppercase;
    border: .125rem solid #0058a6;
    background-color: #0073d8;
    color: #fff;
    width: auto;
    margin-top: auto;
}


/* Price */
button._3D37- {
    border-bottom: 0.5rem solid #f2f2f2;
}

button._3D37-, button.O6VV4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem .5rem .25rem;
}

button[type=button] {
    width: auto;
    margin: 0;
    padding: 0;
    overflow: visible;
    border: 0;
    outline: 0;
    background: transparent;
    color: inherit;
    font: inherit;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    line-height: normal;
    cursor: pointer;
    /* -webkit-appearance: none; */
}

._1htPG {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
    color: #8d8d88;
    padding: 30px 8px 8px 8px;
}

@media (min-width: 768px) {
    ._1htPG {
        font-size: 1.375rem;
        line-height: 1.875rem;
    }
}

._1gEO9 {
    max-height: 125rem;
    padding: 1rem 0;
    overflow-y: hidden;
    transition: max-height .8s ease, opacity .4s ease, padding .4s ease;
    opacity: 1;
}
._2gHxE, ._3RBPn {
    max-height: 0;
    padding: 0;
    overflow-y: hidden;
    transition: max-height .4s ease, opacity .4s ease, padding .4s ease;
    opacity: 0;
}

@media (min-width: 768px) {
    ._3JVXT {
        gap: 1rem;
    }
}

._3JVXT {
    display: flex;
    gap: .5rem;
    margin: 0 .5rem;
}

._3N7xD, ._3vbjm, .tsjZ6 {
    position: relative;
    width: 100%;
    border-radius: .25rem;
    background-color: #fff;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .12);
    margin: 1rem 0;
}
._3N7xD, ._3sqPa, ._3vbjm, ._3zl7L, .tsjZ6 {
    box-sizing: border-box;
    flex: 0 1 32.4%;
    animation: _2qvfb .3s;
}

._3aAxO {
    font-family: Roboto, sans-serif;
}
@media (min-width: 768px) {
    ._3aAxO {
        font-size: 1rem;
    }
}
._3aAxO {
    font-size: .875rem;
    line-height: 1.125rem;
}

.RPY4b {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
}

.GvFPg {
    font-weight: 700;
    font-size: 17.5px;
}


/* MT Score */
._3N7xD, ._3vbjm, .tsjZ6 {
    position: relative;
    width: 100%;
    border-radius: .25rem;
    background-color: #fff;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .12);
    padding: 1rem;
}
._3N7xD, ._3sqPa, ._3vbjm, ._3zl7L, .tsjZ6 {
    box-sizing: border-box;
    flex: 0 1 32.4%;
    animation: _2qvfb .3s;
}

._2_q4f {
    font-family: Roboto, sans-serif;
}
@media (min-width: 768px) {
    ._2_q4f {
        font-size: 1.125rem;
    }
}
._2_q4f {
    font-size: 1rem;
    line-height: 1.5rem;
}

.UScrH, .UScrH .u3zJZ {
    margin-bottom: 1rem;
    padding-bottom: .5rem;
}
.UScrH {
    border-bottom: .125rem solid #f2f2f2;
    font-weight: 700;
    font-size: 17.5px;
}

._2Jhuh {
    min-height: 8.75rem;
}

._3_zbb {
    font-family: Roboto, sans-serif;
}
@media (min-width: 768px) {
    ._3_zbb {
        font-size: 1rem;
    }
}
._3_zbb {
    font-size: .875rem;
    line-height: 1.125rem;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem 1rem;
}

._2l3_8, ._2LbeO {
    font-weight: 700;
    font-size: 16px;
}

._2LbeO {
    display: flex;
    justify-content: space-between;
    padding: .5rem 1rem 0;
    border-top: .125rem solid #f2f2f2;
}
._2l3_8, ._2LbeO {
    font-weight: 700;
    font-size: 17px;
}

.Dsgfa{
    font-size: 15.5px;
}

._1gEO9 {
    max-height: 125rem;
    padding: 1rem 0;
    overflow-y: hidden;
    transition: max-height .8s ease, opacity .4s ease, padding .4s ease;
    opacity: 1;
}
._2gHxE, ._3RBPn {
    max-height: 0;
    padding: 0;
    overflow-y: hidden;
    transition: max-height .4s ease, opacity .4s ease, padding .4s ease;
    opacity: 0;
}

@media (min-width: 768px) {
    ._3JVXT {
        gap: 1rem;
    }
}

._3JVXT {
    display: flex;
    gap: .5rem;
    margin: 0 .5rem;
}

._3N7xD, ._3sqPa, ._3vbjm, ._3zl7L, .tsjZ6 {
    box-sizing: border-box;
    flex: 0 1 32.4%;
    animation: _2qvfb .3s;
}

._2xZs_, .Huq7H {
    position: relative;
    width: 100%;
    height: 100%;
}

.Huq7H button[type=button] {
    width: auto;
    margin: 0;
    padding: 0;
    overflow: visible;
    border: 0;
    outline: 0;
    background: transparent;
    color: inherit;
    font: inherit;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    line-height: normal;
    cursor: pointer;
/* -webkit-appearance: none; */

}

._2xZs_, .Huq7H {
    position: relative;
    width: 100%;
    height: 100%;
    margin-top: 10px;
}

._3ajq0 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: .25rem;
}

._1uB6h {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

._33qTB {
    color: #5a5959;
}

._33qTB {
    font-family: Roboto, sans-serif;
}

@media (min-width: 768px) {
    ._33qTB {
        font-size: 1rem;
    }
}

._33qTB {
    position: relative;
    width: 100%;
    border-radius: .25rem;
    background-color: #fff;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .12);
    font-size: .875rem;
    line-height: 1.125rem;
    position: absolute;
    right: 1.25rem;
    bottom: 1.25rem;
    width: auto;
    padding: .375rem .75rem;
    opacity: .8;
}


/* Specs */
._1gEO9 {
    max-height: 125rem;
    padding: 1rem 0;
    overflow-y: hidden;
    transition: max-height .8s ease, opacity .4s ease, padding .4s ease;
    opacity: 1;
}
._2gHxE, ._3RBPn {
    max-height: 0;
    padding: 0;
    overflow-y: hidden;
    transition: max-height .4s ease, opacity .4s ease, padding .4s ease;
    opacity: 0;
}

@media (min-width: 768px) {
    ._3JVXT {
        gap: 1rem;
    }
}
._3JVXT {
    display: flex;
    gap: .5rem;
    margin: 0 .5rem;
}

._3N7xD, ._3vbjm, .tsjZ6 {
    position: relative;
    width: 100%;
    border-radius: .25rem;
    background-color: #fff;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .12);
    padding: 1rem;
}
._3N7xD, ._3sqPa, ._3vbjm, ._3zl7L, .tsjZ6 {
    box-sizing: border-box;
    flex: 0 1 32.4%;
    animation: _2qvfb .3s;
}

._1dguk {
    padding: .5rem 0;
}

._2NjGi {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
}
@media (min-width: 768px) {
    ._2NjGi {
        font-size: 1.125rem;
    }
}

._2NjGi {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 600;
}

._3xILm {
    font-family: Roboto, sans-serif;
}
@media (min-width: 768px) {
    ._3xILm {
        font-size: 1rem;
    }
}
._3xILm {
    font-size: 1rem;
    line-height: 1.125rem;
    min-height: 2.5rem;
}

._1dguk:not(:first-of-type) {
    border-top: .0625rem solid #ccc;
}
._1dguk {
    padding: .5rem 0;
}



/* Add vehicle */
._3vbjm {
    min-height: 100%;
    padding-top: 10rem;
}

._3vbjm, .tsjZ6 {
    background: #818181;
    box-shadow: none;
    justify-content: center;
}

._3N7xD, ._3vbjm, .tsjZ6 {
    position: relative;
    width: 100%;
    border-radius: .25rem;
    background-color: #fff;
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .12);
    padding: 1rem;
}

._3N7xD, ._3sqPa, ._3vbjm, ._3zl7L, .tsjZ6 {
    box-sizing: border-box;
    flex: 0 1 32.4%;
    animation: _2qvfb .3s;
}

._3fstS {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
}

@media (min-width: 768px) {
    ._3fstS {
        font-size: 1.375rem;
        line-height: 1.875rem;
    }
}

._3fstS {
    font-size: 1.6rem;
    line-height: 1.625rem;
    margin-bottom: .5rem;
    text-align: center;
    color: #5a5959;
}

._2iyl_, ._2US6W {
    display: flex;
    gap: .5rem;
}
._2iyl_ {
    flex-direction: column;
    width: 100%;
}

._1aCSg, .RxvJH {
    width: 100%;
}
._1aCSg {
    display: flex;
    position: relative;
    flex: 0 1 auto;
    align-content: flex-start;
    align-items: center;
}

._1aCSg, .RxvJH {
    width: 100%;
}

._1aCSg select {
    font-family: Roboto, sans-serif;
}
._1aCSg select {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.125rem;
    display: flex;
    box-sizing: border-box;
    align-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: .5rem 1.5rem .4375rem .5rem;
    border: .0625rem solid #d8d8d8;
    border-radius: .25rem;
    background: #fff;
    color: #000;
    line-height: 1rem;
    cursor: pointer;
    /* -webkit-appearance: none;
    -moz-appearance: none; */
}
._1aCSg, .RxvJH {
    width: 100%;
}

select:not(:-internal-list-box) {
    overflow: visible !important;
}

select:not(:-internal-select-author-button) {
    appearance: auto;
    box-sizing: border-box;
    align-items: center;
    -webkit-rtl-ordering: logical;
    color: fieldtext;
    background-color: field;
    cursor: default;
    white-space: pre;
    border-width: 1px;
    border-style: solid;
    border-color: light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
    border-image: initial;
    border-radius: 0px;
}

/* select {
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-variant-position: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    color: fieldtext;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    margin: 0em;
} */

option:disabled {
    color: light-dark(graytext, rgb(170, 170, 170));
}
user agent stylesheet
option {
    font-weight: normal;
    display: block;
    min-height: 1.2em;
    padding: 0px 2px 1px;
    white-space: nowrap;
}
._1aCSg select {
    font-family: Roboto, sans-serif;
}
._1aCSg select {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.125rem;
    display: flex;
    box-sizing: border-box;
    align-content: flex-start;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: .5rem 1.5rem .4375rem .5rem;
    border: .0625rem solid #d8d8d8;
    border-radius: .25rem;
    background: #fff;
    color: #000;
    line-height: 1rem;
    cursor: pointer;
    /* -webkit-appearance: none;
    -moz-appearance: none; */
}

select:not(:-internal-select-author-button) {
    -webkit-rtl-ordering: logical;
    color: fieldtext;
    cursor: default;
    white-space: pre;
}

._1aCSg:after {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
}
@media (min-width: 768px) {
    ._1aCSg:after {
        font-size: 1rem;
        top: .375rem;
    }
}
._1aCSg:after {
    font-size: .875rem;
    line-height: 1.125rem;
    /* content: url(data:image/svg+xml;charset=utf-8,%3Csvg width='8' height='5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.226.222l2.778 2.946L6.78.222a.684.684 0 011.01 0c.279.296.279.775 0 1.07L4.505 4.779a.684.684 0 01-1.01 0L.21 1.293A.78.78 0 010 .757c0-.2.075-.393.21-.535a.699.699 0 011.016 0z' fill='%230073D8'/%3E%3C/svg%3E); */
    display: inline;
    position: absolute;
    right: .75rem;
    pointer-events: none;
}

._2iyl_, ._2US6W {
    display: flex;
    gap: .5rem;
}

._2iyl_, ._2US6W {
    display: flex;
    gap: .5rem;
}

@media screen and (min-width: 1200px) {
    ._2US6W .A8zWh {
        font-family: Gilroy, sans-serif;
        font-weight: 600;
    }
}
._2US6W .A8zWh {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
}
._2US6W ._1_ts0, ._2US6W ._3QU5r, ._2US6W .A8zWh {
    min-width: 5rem;
}
@media screen and (min-width: 1200px) and (min-width: 768px) {
    ._2US6W .A8zWh {
        font-size: 1rem;
    }
}
@media screen and (min-width: 1200px) {
    ._2US6W .A8zWh {
        font-size: .875rem;
        line-height: 1.125rem;
    }
}
@media (min-width: 768px) {
    ._2US6W .A8zWh {
        font-size: 1.125rem;
    }
}
._2US6W .A8zWh {
    font-size: 1rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 8.75rem;
    min-height: 1.5rem;
    max-height: 2.875rem;
    padding: .75rem 1.25rem;
    transition: font-size .3s ease, background-color .6s ease;
    border-radius: .25rem;
    text-transform: uppercase;
    border: .125rem solid #666;
    background-color: #fff;
    color: #666;
}
button[type=button] {
    width: auto;
    margin: 0;
    padding: 0;
    overflow: visible;
    border: 0;
    outline: 0;
    background: transparent;
    color: inherit;
    font: inherit;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    line-height: normal;
    cursor: pointer;
    /* -webkit-appearance: none; */
}

@media screen and (min-width: 1200px) {
    ._2US6W ._3QU5r {
        font-family: Gilroy, sans-serif;
        font-weight: 600;
    }
}
._2US6W ._3QU5r {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
}
@media screen and (min-width: 1200px) {
    ._2US6W ._1_ts0 {
        font-family: Gilroy, sans-serif;
        font-weight: 600;
    }
}
._2US6W ._1_ts0 {
    font-family: Gilroy, sans-serif;
    font-weight: 600;
}
._2US6W ._3QU5r, .UO7lE {
    pointer-events: none;
}
._2US6W ._1_ts0, ._2US6W ._3QU5r, ._2US6W .A8zWh {
    min-width: 5rem;
}
@media screen and (min-width: 1200px) and (min-width: 768px) {
    ._2US6W ._3QU5r {
        font-size: 1rem;
    }
}
@media screen and (min-width: 1200px) {
    ._2US6W ._3QU5r {
        font-size: .875rem;
        line-height: 1.125rem;
    }
}
@media (min-width: 768px) {
    ._2US6W ._3QU5r {
        font-size: 1.125rem;
    }
}
._2US6W ._3QU5r {
    font-size: 1rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 8.75rem;
    min-height: 1.5rem;
    max-height: 2.875rem;
    padding: .75rem 1.25rem;
    transition: font-size .3s ease, background-color .6s ease;
    border-radius: .25rem;
    text-transform: uppercase;
    border: .125rem solid #5a5758;
    background-color: #5a5758;
    color: #fff;
}
@media screen and (min-width: 1200px) and (min-width: 768px) {
    ._2US6W ._1_ts0 {
        font-size: 1rem;
    }
}
@media screen and (min-width: 1200px) {
    ._2US6W ._1_ts0 {
        font-size: .875rem;
        line-height: 1.125rem;
    }
}
@media (min-width: 768px) {
    ._2US6W ._1_ts0 {
        font-size: 1.125rem;
    }
}

._2US6W ._1_ts0 {
    font-size: 1rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 8.75rem;
    min-height: 1.5rem;
    max-height: 2.875rem;
    padding: .75rem 1.25rem;
    transition: font-size .3s ease, background-color .6s ease;
    border-radius: .25rem;
    text-transform: uppercase;
    border: .125rem solid #0058a6;
    background-color: #0073d8;
    color: #fff;
}
/* ---------------------------------- End compare page ----------------------------------*/
