*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
    --color-primary: #1743e3;
    --color-white: #eaeaea;
    --color-black: #222;
}

.btn{
    display: inline-block;
    width: fit-content;
    padding: 12px 28px;
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    color: var(--color-white);
    letter-spacing: .4px;
    font-weight: 600;
    transition: .4s ease;
}

.btn:hover{
    background: transparent;
    color: var(--color-primary);
}

.container{
    max-width: 1620px;
    width: 90%;
    margin: 0 auto;
}

/* ---------------------------------- Start home page ---------------------------------- */
/* ---------------------------------- Start navbar ---------------------------------- */
nav{
    width: 100%;
    height: 5rem;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 100;
    display: grid;
    place-items: center;
}

nav.shadow{
    background-color: white;
    box-shadow: 4px 4px 20px rgb(15 54 55 / 10%);
    transition: 0.5s;

    /* .social-link li a i{
        transform: rotate(-45deg);
        font-size: 22px;
        color: var(--color-primary);
    }
    
    .social-link li a:hover{
        border-color: var(--color-primary);
    } */
}

.nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.logo h3{
    font-size: 25px;
    color: var(--color-black);
}

.nav-link li a{
    color: var(--color-black);
    font-size: 17px;
    transition: .4s ease;
}

.nav-link li a:hover, 
.nav-link .active{
    color: var(--color-primary);
    border-bottom: 2px solid var(--color-primary);
}

.search {
    display: flex;
    align-items: center;
}

.search input[type="text"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 5px;
}

.social-link li a{
    height: 40px;
    width: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid transparent;
    transform: rotate(45deg);
    transition: .4s ease;
}
.social-link li a i{
    transform: rotate(-45deg);
    font-size: 22px;
    color: var(--color-black);
}

.social-link li a:hover{
    border-color: var(--color-black);
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* ---------------------------------- End navbar ----------------------------------*/


/* ---------------------------------- Start header section ----------------------------------*/
header{
    width: 100;
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.header-left{
    max-width: 620px;
    position: relative;
}

.header-left h1{
    font-size: 54px;
    line-height: 1.2;
}

.header-left h3{
    font-size: 40px;
    font-weight: 400;
    color: var(--color-primary);
    margin-top: .5rem;
}

.header-left p{
    margin: 15px 0 30px;
    line-height: 150%;
    font-size: 16px;
}

.header-container{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    height: 100%;
    justify-content: space-between;
}

.header-right{
    position: relative;
    width: 450px;
    height: 450px;
    transform: rotate(45deg);
    right: 7%;
}

.sq-box{
    border: 25px solid var(--color-primary);
    height: 100%;
    width: 100%;
    background: var(--color-white);
    box-shadow: -15px 15px 15px rgba(0, 0, 0, 0.2);
}

.sq-box img{
    position: absolute;
    transform: rotate(-45deg);
    max-width: 750px;
    top: 80px;
    left: -180px;
}

.sq-box2{
    position: absolute;
    width: 700px;
    height: 700px;
    background: var(--color-primary);
    transform: rotate(45deg);
    top: -26%;
    right: -26%;
    z-index: -1;
}
/* ---------------------------------- End header section ----------------------------------*/


/* ---------------------------------- Start footer section ----------------------------------*/
.footer{
    padding-top: 50px;
    padding-bottom: 40px;
    background-color: black;
    color: var(--color-white);
    border-top: 2px solid var(--color-primary);
}

.footer-container{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.footer-container .logo{
    color: var(--color-white);
    margin-bottom: 1rem;
    font-size: 23px;
}

.footer-container .footer-box{
    display: flex;
    flex-direction: column;
}

.social-footer{
    display: flex;
    align-items: center;
}

.social-footer a{
    font-size: 18px;
    color: var(--color-white);
    margin-right: 1rem;
}

.social-footer a:hover{
    color: var(--color-primary);
}

.footer-box h3{
    font-size: 1.2rem;
    font-weight: 1000;
    margin-bottom: 1rem;
}

.footer-box a,
.footer-box p{
    color: #818181;
    margin-bottom: 10px;
}

.footer-box a:hover{
    color: var(--color-primary);
}

.cpoyright{
    padding-bottom: 20px;
    text-align: center;
    background: black;
    color: var(--color-white);
}
/* ---------------------------------- End footer section ----------------------------------*/
/* ---------------------------------- End home page ----------------------------------*/


/* ---------------------------------- Start news page ----------------------------------*/
/* ---------------------------------- Start banner ----------------------------------*/
.banner {
    margin-top: 80px;
    position: relative;
    background-image: url('images/cars/banner_news_page.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff; /* Text color */
    text-align: center;
}

.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.banner-content {
    position: relative;
    z-index: 1;
    max-width: 800px;
}

.banner-content h1 {
    font-size: 3rem;
    margin-bottom: 40px;
}

.banner-content p {
    font-size: 1.5rem;
    font-weight: bold;
}

/* ---------------------------------- End banner ----------------------------------*/


/* ---------------------------------- Start posts ----------------------------------*/
.posts-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    flex-wrap: wrap;
}

.posts-box{
    width: 450px;
    background-color: #fff;
    border: 1px solid #ececec;
    margin: 20px;
    overflow: hidden;
}

.posts-img{
    width: 100%;
    height: auto;
    overflow: hidden;
    position: relative;
}

.posts-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: transform 1s ease;
}

.posts-img:hover{
    transform: scale(1.1);
}

.posts-text{
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.posts-text span{
    color: #9b9b9b;
    font-size: 0.9rem;
}

.posts-text .posts-title{
    margin-top: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #272727;
}

.posts-text p{
    color: #7c6e6e;
    font-size: 0.9rem;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 20px 0;
}

.posts-text a{
    color: #9b9b9b;
    font-size: 0.9rem;
}
/* ---------------------------------- End posts ----------------------------------*/
/* ---------------------------------- End news page ----------------------------------*/
